.authorization {
  margin:0 auto;
  margin-top:50px;
  padding-left:50px;
  padding-right:10px;
  width:350px;
  height:400px;
  background-color:rgba(255,255,255,0.7);
  border-color:rgba(0,0,0,1);
  border-style:solid;
  border-radius:5px;
  border-width:1px;
}

#authorization__basic {

}

.loginContainer {
  margin:0 auto;
}

.authorization h2 {
  text-align:center;
  color:rgba(255,255,255,1);
  text-align:center;
  text-shadow: 1px  1px  2px rgba(0,0,0,0.7),
              -1px -1px  2px rgba(0,0,0,1),
              -1px  1px  2px rgba(0,0,0,0.7),
               1px -1px  2px rgba(0,0,0,1);
  font-weight:bold;
}

#twitterLink {
  background-color:rgba(85,172,238,1);
  color:white;
  text-decoration:none;
  padding:15px 20px;
  border-radius:8px;
  font-size:14px;
  position:relative;
  left:60px;
}

#twitterLink:hover {
  background-color:rgba(65,152,218,1);
}

#twitterLink img {
  width:20px;
  height:20px;
  margin-bottom:-3px;
}

#new_registration {
  width:180px;
  position:relative;
  left:55px;
}

.topfield input {
  width:150px;
}
