<div class="header">
  <ul class="menu">
    <li><span>戦績</span>
      <ul>
        <li><a href="/account/records/summary">機体別戦績</a></li>
        <li><a href="/account/records/friends/summary">相方別戦績</a></li>
      </ul>
    </li>
    <li><a href="/account/records">履歴</a></li>
    <li><a href="">機体ランク表</a></li>
    <li><a href="/account/records/graph">戦績グラフ</a></li>
    <li><span>フレンド</span>
      <ul>
        <li><a href="/account/friends">フレンド一覧</a></li>
        <li><a href="/users">ユーザ検索</a></li>
      </ul>
    </li>
    <li><a href="/users/edit">ユーザ設定</a></li>
    <li><%= link_to "ログアウト", "/users/sign_out", method: :delete  %></li>
  </ul><!--menu-->
</div><!--header-->
