<div id="record__addDiv" ng-cloak>
  <table>
    <thead>
      <tr>
        <th>機体</th>
        <th>勝敗</th>
        <th>チーム</th>
        <th>マッチ</th>
        <th>フレンド</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" id="record__addSelect" ng-click="selectGundamClick()"><img src="{{record.gundam.image_path}}" alt="{{record.gundam.name}}"></a></td>
        <td><a href="" class="link__button redColor record__addLinkButton" ng-click="record.won = !record.won" ng-class="{blueColor: !record.won}">{{record.won ? "勝ち" : "負け" }}</a></td>
        <td><a href="" class="link__button maroonColor record__addLinkButton" ng-click="record.free = !record.free" ng-class="{midnightblueColor: !record.free}">{{record.free ? "フリー" : "シャッフル" }}</a></td>
        <td><a href="" class="link__button darkGreenColor record__addLinkButton" ng-click="record.ranked = !record.ranked" ng-class="{lightCyanColor: !record.ranked}">{{record.ranked ? "ランクマ" : "プレマ" }}</a></td>
        <td id="record__addFriend"><a href="" ng-click="selectFriendClick()"><img src="{{record.friend.image_path}}"><p>{{record.friend.name}}</p></a></td>
      </tr>
    </tbody>
  </table>
  <button id="record__addDiv__submitButton" type="submit" ng-disabled="record__addButtonDisable" ng-click="record__addButtonClick()">{{ record__addButtonDisable ? "追加中..." : "追加" }}</button>
</div>
