<div id="userTotal">
  <div class="loadingImageDiv" ng-show="loadingUser"><%= image_tag "loader.GIF", alt: "now_loading..." %></div>
  <table class="tableStyle" ng-hide="loadingUser">
    <tr>
    <td background=<%= current_user.icon.url %>><p><%= current_user.name %></p></td>
      <td>{{total.record}}</td>
      <td>{{total.won}}</td>
      <td>{{total.lost}}</td>
      <td>{{total.rate | number:1}}</td>
    </tr>
  </table>
</div>
