<div id="recordsGraph" ng-controller="recordsGraphController">
  <%= render "shared/messages" %>

  <div id="summary__refine">
    <table class="recordsGraph__refineTable">
      <tbody>
        <tr>
          <td>
            区間：
            <div id="summary__sectionSelect" class="uiSelect">
              <select name="section" ng-model="filter_section" ng-options="s.section as s.name for s in options_sections" ng-change="sectionChange()" ng-disabled="loadingUser || loadingRecords"></select>
            </div>
          </td>
          <td>
            &emsp;チーム：
            <div id="summary__teamSelect" class="uiSelect">
              <select name="team" ng-model="filter_team" ng-options="s.team as s.name for s in options_teams" ng-change="teamChange()" ng-disabled="loadingUser || loadingRecords"></select>
            </div>
          </td>
          <td>
            &emsp;マッチ：
            <div id="summary__matchSelect" class="uiSelect">
              <select name="match" ng-model="filter_match" ng-options="s.match as s.name for s in options_matches" ng-change="matchChange()" ng-disabled="loadingUser || loadingRecords"></select>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table class="recordsGraph__refineTable">
              <thead>
                <tr>
                  <th>機体</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="" id="record__addSelect" ng-click="selectGundamClick()"><img src="{{record.gundam.image_path}}" alt="{{record.gundam.name}}"></a></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table class="recordsGraph__refineTable">
              <thead>
                <tr>
                  <th>フレンド</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a id="record__addFriend" href="" ng-click="selectFriendClick()"><img src="{{record.friend.image_path}}"><p>{{record.friend.name}}</p></a></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="graphDiv">
    <canvas></canvas>
  </div>
  <%= render "shared/select_gundam" %>
  <%= render "shared/select_friend" %>
</div>
