#top__alert {
  margin:0 auto;
  margin-bottom:10px;
  padding:5px;
  padding-top:1px;
  padding-bottom:1px;
  background-color:rgba(230,150,150,1);
  border-style:solid;
  border-radius:5px;
  border-width:1px;
  border-color:rgba(255,0,0,1);
}

#top__alert p {
  text-align:left;
  color:rgb(130,0,0);
  font-size:14px;
}

#message {
  margin:0px auto;
}

.alert, .notice {
  margin:0 auto;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  padding:20px;
  background-color:rgba(230,150,150,1);
  border-style:solid;
  border-radius:5px;
  border-width:1px;
  border-color:rgba(255,0,0,1);
}

.alert p, .notice p {
  text-align:left;
  color:rgb(130,0,0);
  font-size:14px;
}
