#top__alert {
  position:fixed;
  top:52px;
  width:800px;
  margin:0 auto;
  margin-left:-9px;
  background-color:rgba(230,150,150,1);
  border-style:solid;
  border-width:1px;
  border-color:rgba(255,0,0,1);
  text-align:left;
  color:rgb(130,0,0);
  font-size:14px;
  z-index:5000;
}

#top__alert p {
  width:100%;
  padding:10px 20px;
  margin:0px;
}


.alert, .notice {
  margin:0 auto;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  padding:20px;
  background-color:rgba(230,150,150,1);
  border-style:solid;
  border-radius:5px;
  border-width:1px;
  border-color:rgba(255,0,0,1);
}

.alert p, .notice p {
  text-align:left;
  color:rgb(130,0,0);
  font-size:14px;
}

#messageDiv {
  position:fixed;
  top:52px;
  width:1047px;
  margin:0 auto;
  margin-left:-9px;
  background-color:rgba(230,150,150,1);
  border-style:solid;
  border-width:1px;
  border-color:rgba(255,0,0,1);
  text-align:left;
  color:rgb(130,0,0);
  font-size:14px;
  z-index:5000;
}

#messageDiv p {
  width:100%;
  padding:10px 20px;
  margin:0px;
}

.messageHide {
  opacity:0;
}

.messageShow {
  opacity:1;
}

.messageShow-add,
.messageShow-remove {
 transition: 1s linear all;
}

.messageShow-add-active {
  opacity:1;
}

.messageShow-remove-active {
  opacity:0;
}

#error_explanation {
  width:700px;
  margin:0 auto;
  padding:10px;
  padding-left:30px;
  background-color:rgba(230,150,150,1);
  border-style:solid;
  border-width:1px;
  border-color:rgba(255,0,0,1);
  text-align:left;
  color:rgb(130,0,0);
  font-size:14px;
}
