#eachRecord table tr th {
  margin:0;
  padding:0;
}

#eachRecord table tr th p {
  color:white;
  background-color:rgba(230,80,80,1);
  border-top:2px outset rgba(180,30,30,1);
  border-left:2px outset rgba(180,30,30,1);
  margin:0;
}

#eachRecord table tr th:first-child p {
  border-radius:6px 0px 0px 0px;
}

#eachRecord table tr th:last-child p {
  border-right:2px outset rgba(180,30,30,1);
  border-radius:0px 6px 0px 0px;
}

#eachRecord table tr td {
  height:66px;
}

#eachRecord table tr td:first-child {
  padding:0px;
  background-size:100% 100%;
  border-radius:5px 0px 0px 5px;
}

#eachRecord table tr td:nth-child(2)::after {
  content:"戦"
}

#eachRecord table tr td:nth-child(3)::after {
  content:"勝"
}

#eachRecord table tr td:nth-child(4)::after {
  content:"敗"
}

#eachRecord table tr td:last-child::after {
  content:"%"
}

#eachRecord table tr td a {
  display:block;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

#eachRecord table tr td:first-child a:hover {
}

#eachRecord table tr td a img {
  padding:0;
  margin-bottom:-10px;
}

#eachRecord__refine {
  position:relative;
  left:160px;
}

#record__addButton {
  position:relative;
  top:0px;
  left:800px;
  width:80px;
}

#record__addButton a {
  height:20px;
}
