#recordsGraph {
}

#graphDiv {
  width:750px;
  height:500px;
  margin:0 auto;
}

#graphDiv canvas {
  background-color:rgba(255,255,255,0.7);
}

.recordsGraph__refineTable a {
  text-decoration:none;
}
